build/
**/build/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Allure ###
.allure

### Gradle ###
.gradle
build.gradle.kts
settings.gradle.kts
gradlew
gradlew.bat

### Logs ###
*.log